<app-nav></app-nav>
<div class="min-h-screen py-4 flex items-center justify-center bg-gray-100 dark:bg-gray-800">
  <form
    class="max-w-xl mx-auto dark:bg-gray-900 p-6 rounded-lg shadow-xl border-gray-300 bg-gray-50 dark:bg-green-900 dark:border-green-700"
    [formGroup]="employeeForm">
    
    <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
      Editar Usuario
    </h2>
    <hr>
    <br>

    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Nombre -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="first_name" placeholder=" " formControlName="first_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for="first_name" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                     peer-focus:scale-75 peer-focus:-translate-y-6">
          Nombre
        </label>
      </div>

      <!-- Apellidos -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="last_name" placeholder=" " formControlName="last_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for="last_name" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                      peer-focus:scale-75 peer-focus:-translate-y-6">
          Apellidos
        </label>
      </div>

      <!-- Género -->
      <div class="relative z-0 w-full mb-5 group">
        <select id="gender" formControlName="gender"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 
                 appearance-none dark:text-gray-600 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
          <option value="" disabled>Selecciona un género</option>
          <option value="hombre">Hombre</option>
          <option value="mujer">Mujer</option>
          <option value="otro">Otro</option>
        </select>
        <label for="gender" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                    peer-focus:scale-75 peer-focus:-translate-y-6">
          Género
        </label>
      </div>

      <!-- Correo -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" id="email" placeholder=" " formControlName="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                   peer-focus:scale-75 peer-focus:-translate-y-6">
          Correo Electrónico
        </label>
      </div>

      <!-- Fecha de Nacimiento -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="date" id="birth_date" formControlName="birth_date"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for="birth_date" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                       peer-focus:scale-75 peer-focus:-translate-y-6">
          Fecha de Nacimiento
        </label>
      </div>

      <!-- Dirección -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" id="address" placeholder=" " formControlName="address"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for="address" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                    peer-focus:scale-75 peer-focus:-translate-y-6">
          Dirección
        </label>
      </div>

            <!--tipo de empleado-->
            <div class="relative z-0 w-full mb-5 col-span-2 group">
              <select name="employee_type" id="employee_type" formControlName="employee_type"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-600 dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                <option value="" disabled selected hidden>Selecciona un tipo de empleado</option>
                <option value="Empleado">Empleado</option>
              </select>
              <label for="employee_type"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Tipo
                de empleado</label>
            </div>

      <!-- Notas -->
      <div class="relative z-0 w-full mb-5 group">
        <textarea id="notes" formControlName="notes"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 bg-transparent border-gray-300 
                 appearance-none dark:text-gray-400 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"></textarea>
        <label for="notes" class="absolute text-sm text-gray-500 dark:text-gray-400 peer-placeholder-shown:translate-y-0 
                                  peer-focus:scale-75 peer-focus:-translate-y-6">
          Notas
        </label>
      </div>
    </div>
  </form>
</div>

<app-footer />
