<app-nav />


<div class="py-12 bg-gray-50 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-5xl px-4 min-h-screen">
        
        <h1 class="text-3xl font-bold mb-6 text-center">Administración de Productos</h1>
        
        <div class="block text-left mb-6">
            <form action="" method="GET">
                <input type="text" name="search" value="" 
                    class="py-2 px-4 border border-gray-300 rounded-md" placeholder="Buscar Producto...">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Buscar</button>
            </form>
        </div>

        <div class="block text-left mb-6">
            <a href="product/create" 
               class="text-white bg-yellow-400 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:focus:ring-green-800">
               Agregar Producto
            </a>
        </div>


        <!-- Table Section -->
        <div class="overflow-x-auto">
            <table class="w-full bg-white border border-gray-200 rounded-lg shadow-md">
                <thead>
                    <tr class="bg-green-500 text-white">
                        <th class="py-3 px-4 text-left">
                            <a href="/producto/lista/en_orden/name">Nombre de Producto</a></th>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Estatus</th>
                        <th class="py-3 px-4 text-left">
                            Categoria
                        </th>

                        <th class="py-3 px-4 text-left">
                            <a href="/producto/lista/en_orden/unit_price">Precio</a>
                        </th>
                        <th class="py-3 px-4 text-left">
                            <a href="/producto/lista/en_orden/unit_stock">Stock</a>
                        </th>
                        <th class="py-3 px-4 text-center">Imagen</th>
                        <th class="py-3 px-4 text-right">Acciones</th>
                        <th class="py-3 px-4 text-left"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Mostrar mensaje si la lista está vacía -->
                    <tr *ngIf="products.length === 0">
                        <td colspan="9" class="py-4 px-4 text-center text-gray-500">
                            No hay productos disponibles.
                        </td>
                    </tr>
                
                    <!-- Recorre la lista de productos si hay elementos -->
                    <tr *ngFor="let product of products" class="border-b hover:bg-gray-100">
                        <td class="py-3 px-4">{{ product.name }}</td>
                        <td class="py-3 px-4">{{ product.id }}</td>
                        <td class="py-3 px-4">
                            <span class="text-sm font-semibold">
                                {{ product.status }}
                            </span>
                        </td>
                        <td class="py-3 px-4">{{ product.category_id }}</td>
                        <td class="py-3 px-4">{{ product.unit_price | currency }}</td>
                        <td class="py-3 px-4">{{ product.unit_stock }}</td>
                        <td class="py-3 px-4 text-center">
                            <div class="flex justify-center">
                                <img class="w-24 h-24 object-cover rounded" [src]="product.product_image" alt="{{ product.name }}">
                            </div>
                        </td>
                        <td class="py-3 px-4 text-center">
                            <a [routerLink]="['/product/edit/', product.id]" class="text-blue-500 font-semibold hover:underline">
                                Editar
                            </a>
                        </td>
                        <td class="py-3 px-4 text-center">
                            <a [routerLink]="['/product/show/', product.id]" class="text-blue-500 font-semibold hover:underline">
                                Detalles
                            </a>
                        </td>
                    </tr>
                </tbody>
                
                
            </table>
            <!-- error message-->
            <div *ngIf="errorMessage" class="text-red-500 mt-2">
                {{ errorMessage }}
            </div>
        </div>
    </div>

</div>

<app-footer />
