<app-nav />

<section class="flex items-center justify-center min-h-screen bg-gray-100">
  <div style="height: 500px"></div>
  <div class="flex flex-wrap justify-center gap-12">
    <a href="categories/list"
      class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
      Categorias
      <img class="mt-2 h-20" src="icons/img/categories.png">

    </a>
    <a href="products/list"
      class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
      Productos
      <img class="mt-2 h-20" src="icons/img/products.png">
    </a>
    <a href="history"
      class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
      Compras
      <img class="mt-2 h-20" src="icons/img/history.png">
    </a>
  </div>
</section>

<app-footer />