<app-nav></app-nav>

<section class="flex items-center justify-center min-h-screen bg-gray-100 min-h-screen">
    <div style="height: 500px"></div>
    <div class="flex flex-wrap justify-center py-6 gap-12">

        <a href="sales"
            class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
            Ventas
            <img class="mt-2" src="icons/img/punto_venta.png">
        </a>

        <a href="store"
            class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
            Almacen
            <img class="mt-2" src="icons/img/almacen.png">
        </a>


        <a href="employees/list"
            class="flex flex-col items-center justify-center h-48 bg-green-500 text-white text-3xl font-bold rounded-lg shadow-lg hover:bg-green-800 transition duration-300 p-6 w-48">
            Admin
            <img class="mt-2" src="icons/img/empleados.png">
        </a>

    </div>
</section>

<app-footer></app-footer>